main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 6rem; */
  padding: 2rem 0;
  top: 0;
  overflow-x: hidden;
}
#home .heroSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.575),
      rgba(0, 119, 255, 0.582)
    ),
    url(../assets/images/farm2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#home .heroText {
  width: 50%;
  /* margin-top: 4rem; */
  padding: 3rem;
}
#home .logoText {
  display: flex;
  align-items: center;
  font-size: 60px;
  margin: 1rem 0;
  /* background: linear-gradient(94.77deg, #48B760 0%, #6BB748 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
}
#home .subtext {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  margin-top: -2rem;
  color: #ffffff;
}
#home .heroSection .info {
  width: 100%;
  margin: 2rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 2rem 0;
}

.hero-image {
  clip-path: polygon(48% 0, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.996); */
  height: 100%;
  backdrop-filter: saturate(150%) sepia(40%) hue-rotate(60deg);
  display: flex;
  align-items: center;
  justify-content: end;
  /* background: url(../assets/images/poultry.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
.hero-image img {
  width: 100%;
  z-index: 1;
}
.action-btn {
  padding: 0.8rem 2.5rem;
  color: white;
  background: linear-gradient(94.77deg, #48b760 0%, #6bb748 100%);
  box-shadow: 0px 20px 20px rgba(115, 205, 0, 0.3);
  border-radius: 500px;
}
#home .purpose,
.services {
  /* width: 100%; */
  min-width: 100%;
  background: url(../assets/images/bg2.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-left: 3rem;
}
#home .purpose .header {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #4f4f4f;
  width: 100%;
}
#home .purpose .title {
  font-size: 40px;
  color: #48b760;
}
#home .our-partners{
  min-height:auto !important ;
}
#home .purpose .desc {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
  width: 80%;
}
#home .purpose li {
  width: 80%;
  list-style: none;
}
#home .services .icon{
  width: 60%;
}
.values {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem 0;
}
.value {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
}
.value .text {
  width: 90%;
}
.value .text .title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #4f4f4f;
}
.value .text .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
}
.section-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.section-title h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  color: #4f4f4f;
  /* padding: 0 2rem; */
  width: 90%;
}
#home .subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #828282;
  /* width: 90%; */
  padding: 0 2rem;
  width: 90%;
  margin: 2rem 0;
}
.service-holder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}
#home .services .service {
  width: 20%;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  justify-content: space-evenly;
}
#home .services .service p {
  line-height: 1;
  margin: 1rem 0;
}
#home .events {
  background: url(../assets/images/bgfarm.png);
}

.column h4 {
  font-size: 1.5rem;
}
.event-footer div:not(:last-of-type) {
  margin: 0 1.5rem 1.5rem 0;
}
.column a {
  margin-top: 20px;
}
.event-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 2rem;
}
.event-footer a {
  color: #000000;
  text-decoration: none;
}
.event-footer p {
  line-height: 35px;
}
.event-footer h4 {
  color: #000000;
  margin-bottom: 30px;
}
.socials a {
  background: #ebeeff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.socials a:not(:last-of-type) {
  margin-right: 20px;
}
.socials {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#home .event-img {
  width: 90%;
  height: 60vh;
  border-radius: 2rem;
  background: url(../assets/images/events.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#home .our-partners,
.coreValues,
.events {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-left: 3rem;

  /* background-attachment: fixed; */
}
#home .coreValues,
.events {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.929),
      rgba(252, 252, 252, 0.759)
    ),
    url(../assets/images/bgfarm2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#home .partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0;
}
#home .partner {
  width: 17%;
  margin: 2rem;
}
#home .contact {
  /* min-width: 100%;
    min-height: 100vh;
    padding: 3rem;
    padding-left: 3rem; */
}
#home .contact-holder {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}
#home .contact form {
  width: 40%;
}
#home .contact form .message {
  height: 100px;
  text-align: start;
}
#home .contact input {
  height: 30px;
  width: 100%;
  padding: 1rem;
  background: #f2f2f2;
  border-radius: 34px;
  border: none;
  width: 80%;
  margin: 0.5rem 0;
}
#home .contact .map {
  background: url(../assets/images/map.png);
  background-size: cover;
  background-position: center;
  width: 40%;
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .address {
  background-color: white;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
}
#home .address img {
  height: 100%;
}
.address-holder div {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 1rem; */
}
.address-holder div p {
  margin: 0.5rem 1rem;
}
.addressImg {
  border-radius: 1rem;
}
@media screen and (max-width: 950px) {
  main {
    margin-top: 6rem;
  }
  #home {
    margin-top: 0 !important;
  }
  #home .heroSection {
    flex-direction: column;
    padding: 0;
  }
  .heroText {
    width: 90% !important;
    line-height: 1;
    padding: 3rem 0;
  }
  #home .logoText {
    font-size: 8vw;
  }
  .hero-image {
    position: absolute;
    width: 90%;
    display: none;
  }
  #home .service-holder {
    flex-direction: column;
  }
  #home .services .service {
    width: 80%;
    margin: 3rem 0;
  }
}
@media screen and (max-width: 750px) {
  #home .values .value {
    width: 100% !important;
  }
  #home .purpose .header {
    font-size: 7vw;
    width: 90%;
  }
  #home .mission,
  .vision {
    width: 90%;
  }
  #home .event-img {
    height: 50vh;
  }
  #home .partner {
    width: 25%;
  }
}
@media screen and (max-width: 800px) {
  .hero {
    min-height: 70vh;
  }
  #home .contact-holder {
    flex-direction: column;
  }
  #home .contact .map {
    width: 90%;
  }
  #home .contact form {
    width: 90%;
    margin: 2rem 0;
  }
  #home .contact {
    width: 100%;
  }
  #home .section-title {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #home .section-title h1 {
    font-size: 30px;
    width: 60%;
  }
  #home .address {
    width: 95%;
  }
}
