#services .overview{
    width: 100%;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background: linear-gradient(0deg,#3e3e3e,#408f407a),url(../assets/images/bgfarm2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
#services .overview h1{
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 1;
}
#services .overview p{
    width: 80%;
    font-size: 20px;
    

}
@media screen and (max-width:800px) {
    #services .overview p{
        width: 90%;
        font-size: 16px;
    }
}